.wrap{
	margin:0 auto;
	width:1080px;
}
html{
	overflow-x: hidden;
	
}
body{
	color: #333;
	background-image:url(../images/fondo.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Anaheim', sans-serif;
}

.header span{
	background-color:#C76572;
	height:3px;
	display:block;
}
.logo{
	margin:48px 0 48px 0;
	text-align:center;
}

.photo{
	border-radius: 5px;
	margin: 0.3em 0 ;
}
.rep{
	
	display: none;
}
ul, li{
	list-style: none;
}
.divers{
	padding: 0px 0.3em;
}